---
import { humanize, slugify } from "@/lib/utils/textConverter";
const { categories } = Astro.props;
const params = Astro.params;
---

<div class="category-filter mb-10 mt-3 rounded-xl bg-[#f7e26b] p-4 relative">
  <div>
    <h3 class="h4 mb-4 bg-[#fa729a] w-max text-white px-3 rounded-3xl absolute top-0 left-[-32px] rotate-[-30deg]">Categories</h3>
  </div>
  <ul class="filter-list flex flex-wrap items-center justify-center">
    <li>
      <a
        class={`filter-btn ${
          !params.category ? "filter-btn-active" : undefined
        } btn btn-sm`}
        href="/categories">All Categories</a
      >
    </li>
    {
      categories.map((category: any) => (
        <li>
          <a
            class={`filter-btn ${
              params.category === slugify(category)
                ? "filter-btn-active"
                : undefined
            } btn btn-sm`}
            href={`/categories/${slugify(category)}`}
          >
            {humanize(category)}
          </a>
        </li>
      ))
    }
  </ul>
</div>
