---
import { humanize, slugify } from "@/lib/utils/textConverter";
const { courses } = Astro.props;
const params = Astro.params;
---

<div class="category-filter mb-10 mt-3 rounded-xl bg-[#f7e26b] p-4 relative">
  
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    {
      courses.map((course: any) => (
        <div class="course-card bg-white shadow-lg rounded-lg overflow-hidden transition-transform transform hover:scale-105 hover:shadow-xl">
          <a
            href={`/courses/${slugify(course)}`}
            class={`block ${
              params.course === slugify(course)
                ? "border-2 border-blue-500"
                : undefined
            }`}
          >
            <div class="p-6">
              <h3 class="text-xl font-semibold text-gray-800 mb-3">
                {humanize(course)}
              </h3>
              <p class="text-gray-600">
                Explore the {humanize(course)} course and start learning!
              </p>
            </div>
          </a>
        </div>
      ))
    }
  </div>
</div>
